header{
  height:100px;
  width:100%;
  border:3px silver;
  background-color: silver;
  }
#add {
  background-color: black;
  color: #E8E8E8;
  margin: 0 auto;
  display: block;
  top: 25px;
  position:relative;
  font-size:25px;
}

